<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BBTW</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/bbtw.css' %}">
  <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
</head>

<body>
  {% include 'navbar.html' %}
  <!--search-->
  <div class="row">
    <div id="searchBox">
      <h4 id="bbtw">
        BBTW（Browse-by-Time-Window）
      </h4>
      <h5 id="description">
        Select a time duration which you want to browse frames!
      </h5>
      <!-- <form novalidate id="userDataForm" action="getQuery" method="POST">{% csrf_token %}
        輸入：<input type="text" name="a">
        <button type="button" onclick="processData()" class="btn m-5 btn btn-primary btn-lg" id="enter">ENTER</button>
        <input type="submit">
      </form> -->

      <form action="getQuery" method="POST">{% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <label class="col-sm-2 col-form-label">Year:</label>
          <div class="col-sm-5">
            <select class="form-control" name="year" id="exampleFormControlSelect1">
              <option value="2018" selected>2018</option>
            </select>
          </div>
          <label class="col-sm-1 col-form-label">year</label>
          <div class="col-sm-2"></div>
        </div>
        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label">Start Date:</label>
          <div class="col-sm-2">
            <select class="form-control" name="startMonth" id="startMonth">
              <option>--</option>
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <label class="col-form-label">month</label>
          <div class="col-sm-2">
            <select class="form-control" name="startDay" id="startDay">
              <option selected>--</option>
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <label class="col-form-label">day</label>
          <div class="col-sm-2">
            <select class="form-control" name="startHour" id="startHour">
              <option selected>--</option>
              <option value="0" selected>0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
            </select>
          </div>
          <label class="col-form-label">hour</label>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group row">
          <div class="col-sm-1"></div>
          <label class="col-sm-2 col-form-label">End Date:</label>
          <div class="col-sm-2">
            <select class="form-control" name="endMonth" id="endMonth">
              <option selected>--</option>
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <label class="col-form-label">month</label>
          <div class="col-sm-2">
            <select class="form-control" name="endDay" id="endDay">
              <option selected>--</option>
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <label class="col-form-label">day</label>
          <div class="col-sm-2">
            <select class="form-control" name="endHour" id="endHour">
              <option selected>--</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23" selected>23</option>
            </select>
          </div>
          <label class="col-form-label">hour</label>
          <div class="col-sm-1"></div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            Dataset: 
          </div>
          <div class="col-sm-6">
            <input type="radio" name="dataset" id="level" value="level" checked>
            <label for="level"> level </label>
            <span style="margin-left: 1em;margin-right: 1em;"> </span>
            <input type="radio" name="dataset" id="original" value="original">
            <label for="original"> original </label>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <button type="submit" class="btn btn-primary" id="submit">SEARCH</button>
        <div style="padding: 0;">
          <span style="display: none;" id="resultCount"></span>
        </div>
      </form>
    </div>
  </div>


  <!--result-->
  <div class="row mt-3" id="matchPic"></div>
  <div class="row" id="pageBar">
    <ul class="pagination justify-content-center" id="page" style="margin: auto;">
    </ul>
    <div class="show"></div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <div class="row">
      <!-- <div class="col-1"></div> -->
      <div class="col-7">
        <img class="modal-content" id="img01">
        <div id="caption"></div>
      </div>
      <div class="col-4">
        <div id="information">
          <h2 id="timeText"></h2>
          <ul>
            <li id="WDText"></li>
            <li id="WSText"></li>
            <li id="PSText"></li>
            <li id="TPText"></li>
            <li id="RHText"></li>
          </ul>
          
          <button class="btn btn-primary" id="qbeBtn">QBE</button>
          
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    
  </div>

  <script>
    // showModal(): show image and the information
    // index: the number of picture
    function showModal(index) {
      // get the modal
      var modal = document.getElementById("myModal");
      // show the modal
      modal.style.display = "block";

      // get the image and insert it
      var img = document.getElementById(getImageName(index));
      var modalImg = document.getElementById("img01");
      modalImg.src = img.src;

      // get the information about the image and insert it
      document.getElementById('caption').innerHTML = img.alt;
      document.getElementById('timeText').innerHTML = getDate(index) + " " + getHour(index) + "H";
      document.getElementById('WDText').innerHTML = "Wind direction: " + getWD(index);
      document.getElementById('WSText').innerHTML = "Wind speed: " + getWS(index);
      document.getElementById('PSText').innerHTML = "Pressure: " + getPS(index) + " Pa";
      document.getElementById('TPText').innerHTML = "Temperature: " + getTP(index) + " °C";
      document.getElementById('RHText').innerHTML = "Humidity: " + getRH(index) +" %";
    }

    //closeModal(): close the image modal
    function closeModal() {
      var modal = document.getElementById("myModal");

      // When the user clicks on x, close the modal
      modal.style.display = "none";
    }

  </script>

  <script>
    // get search result from backend
    let date_data = "{{ resultDate }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let hour_data = "{{ resultHour }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let image_data = "{{ resultImage }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let WD_data = "{{ resultWD }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let WS_data = "{{ resultWS }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let PS_data = "{{ resultPS }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let TP_data = "{{ resultTP }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let RH_data = "{{ resultRH }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let dataset = "{{ dataset }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')

    // console.log("{{ dataset }}");
    // console.log("{{ startMonth }}");
    // console.log("{{ startDay }}");
    // console.log("{{ startHour }}");
    // console.log("{{ endMonth }}");
    // console.log("{{ endDay }}");
    // console.log("{{ endHour }}");
    // console.log(date_data);
    // console.log(hour_data);
    // console.log(image_data);
    // console.log(WD_data);
    // console.log(WS_data);
    // console.log(PS_data);
    // console.log(TP_data);
    // console.log(RH_data);
    // console.log(dataset);

    function getDate(index) {
      // return date_data[index].substring(0, date_data[index].length - 10);
      return date_data[index];
    }
    function getHour(index) {
      return hour_data[index];
    }
    function getImageName(index) {
      if ("{{ dataset }}" == "level") {
        return "/static/sis/" + image_data[index];
      } else {
        return "/static/sis_origin/" + image_data[index];
      }
    }
    function getWD(index) {
      return WD_data[index];
    }
    function getWS(index) {
      return WS_data[index];
    }
    function getPS(index) {
      return PS_data[index];
    }
    function getTP(index) {
      return TP_data[index];
    }
    function getRH(index) {
      return RH_data[index];
    }
  </script>

  <script>
    let total = date_data.length;
    let count = 0;
    // let pages = Math.ceil(total/24)
    // show the total number of result
    function showCount() {
      let resultCount = document.getElementById("resultCount");
      resultCount.innerHTML = `<br> There are ${date_data.length} results`;
      resultCount.style.display = "";
    }

    // show the images
    function showCards() {
      let placeOfPic = document.getElementById("matchPic");

      // create rows (8 images = 1 row)
      for (let index = 0; index < Math.ceil(total / 8); index++) {
        placeOfPic.innerHTML += `
        <div class="containerPic"></div>`;
      }
      let placeOfCard = document.getElementsByClassName("containerPic");
      for (let index = 0; index < placeOfCard.length; index++) {
        for (let j = 0; j < 8; j++) {
          if (index * 8 + j == total) {
            break;
          }
          // console.log(index * 8 + j);
          placeOfCard[index].innerHTML += `
        <div class="card" onclick="showModal(${index*8+j})""><div class="info"></div></div>`;
        }
      }
    }
  </script>
  <script>
    // set the value in select boxes
    function selectElement(id, value) {
      let element = document.getElementById(id);
      element.value = value;
    }
    // set dates
    function selectDate() {
      selectElement("startMonth", "{{ startMonth }}");
      selectElement("startDay", "{{ startDay }}");
      selectElement("startHour", "{{ startHour }}");
      selectElement("endMonth", "{{ endMonth }}");
      selectElement("endDay", "{{ endDay }}");
      selectElement("endHour", "{{ endHour }}");
    }
    // set dataset
    function selectDataset() {
      document.getElementById("{{ dataset }}").checked = true;
    }
    function selectQuery() {
      // if there are search result, set the value of form element to query
      if ("{{startMonth}}" != "" || date_data[0] != "") {
        selectDate();
        selectDataset();
        showCount();
        showCards();
        showPicture();
      }
    }

    function showPicture() {
      let elements = document.getElementsByClassName("card");
      // let elementsInfo = document.getElementsByClassName("info");
      // var num = 0;
      console.log("count: ", count);
      if (count != 0) {
        for (let index = 0; index < elements.length; index++) {
          elements[index].innerHTML = "";
        }
      }

      for (let index = 0; index < elements.length; index++) {
        // Xst = num + (currentPage - 1) * 24
        // if (Xst >= 100) {
        //   break;
        // }
        // console.log("index:", index);
        // console.log(getFileName(Xst))
        let imageName = getImageName(index);
        elements[index].innerHTML += `
        <img src="${imageName}" id="${imageName}" alt="${getDate(index) + " " +getHour(index)+"H"}">
        <p>${getDate(index)} ${getHour(index)}H</p>  
        <p>${getWD(index)}/${getWS(index)}/${getPS(index)}/${getTP(index)}/${getRH(index)}</p>
        `;
        // num = num + 1;
      }
    }

    selectQuery();
  </script>

</body>

</html>