<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BBTW</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/bbtw.css' %}">
  <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
</head>

<body>
  <div id="container">
    {% include 'navbar.html' %}
    <!--search-->
    <div class="row">
      <div id="searchBox">
        <h4 id="bbtw">
          BBTW（Browse-by-Time-Window）
        </h4>
        <h5 id="description">
          Select a time duration which you want to browse frames!
        </h5>

        <form id="myForm" action="getQuery" method="POST">{% csrf_token %}
          <div class="form-group row">
            <div class="col-sm-2"></div>
            <label class="col-sm-2 col-form-label">Year:</label>
            <div class="col-sm-5">
              <!--year-->
              <select class="form-control" name="year" id="exampleFormControlSelect1">
                <option value="2018" selected>2018</option>
              </select>
            </div>
            <label class="col-sm-1 col-form-label">year</label>
            <div class="col-sm-2"></div>
          </div>
          <div class="form-group row">
            <div class="col-sm-1"></div>
            <label class="col-sm-2 col-form-label">Start Date:</label>
            <div class="col-sm-2">
              <!--startMonth-->
              <select class="form-control month" name="startMonth" id="startMonth"
                onchange="changeDays('start');detectMonth()"></select>
            </div>
            <label class="col-form-label">month</label>
            <div class="col-sm-2">
              <!--startDay-->
              <select class="form-control day" name="startDay" id="startDay"></select>
            </div>
            <label class="col-form-label">day</label>
            <div class="col-sm-2">
              <!--startHour-->
              <select class="form-control hour" name="startHour" id="startHour"></select>
            </div>
            <label class="col-form-label">hour</label>
            <div class="col-sm-1"></div>
          </div>
          <div class="form-group row">
            <div class="col-sm-1"></div>
            <label class="col-sm-2 col-form-label">End Date:</label>
            <div class="col-sm-2">
              <!--endMonth-->
              <select class="form-control month" name="endMonth" id="endMonth" onchange="changeDays('end')"></select>
            </div>
            <label class="col-form-label">month</label>
            <div class="col-sm-2">
              <!--endDay-->
              <select class="form-control day" name="endDay" id="endDay"></select>
            </div>
            <label class="col-form-label">day</label>
            <div class="col-sm-2">
              <!--endHour-->
              <select class="form-control hour" name="endHour" id="endHour"></select>
            </div>
            <label class="col-form-label">hour</label>
            <div class="col-sm-1"></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
              Dataset:
            </div>
            <div class="col-sm-6">
              <input type="radio" name="dataset" id="level" value="level" checked>
              <label for="level"> level </label>
              <span style="margin-left: 1em;margin-right: 1em;"> </span>
              <input type="radio" name="dataset" id="original" value="original">
              <label for="original"> original </label>
            </div>
            <div class="col-sm-3"></div>
          </div>
          <div class="form-group row" id="contrastDiv">
            <div class="col-sm-12">
              <input type="checkbox" name="contrast" id="contrast" onchange="loadContrast()">
              <label for="contrast"> Contrast Enhancement </label>
            </div>
          </div>
          <input type="button" class="btn btn-secondary" id="submitBtn" onclick="submitData()" value="SEARCH">
          <div style="padding: 0;">
            <span style="display: none;" id="resultCount"></span>
          </div>
        </form>
      </div>
    </div>
    <!--result-->
    <div class="row mt-3" id="matchPic"></div>
    <div class="row" id="pageBar">
      <ul class="pagination justify-content-center" id="page" style="margin: auto;">
      </ul>
      <div class="show"></div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close" onclick="closeModal()">&times;</span>
      <div class="row" id="modalContent">
        <!-- <div class="col-1"></div> -->
        <div class="col-7" id="modalImgDiv">
          <span class="helper">
            <img class="modalImg" id="img01">
          </span>
          <!-- <div id="caption"></div> -->
        </div>
        <div class="col-4">
          <div id="information">
            <h2 id="timeText"></h2>
            <ul>
              <!-- <li id="WDText"></li>
            <li id="WSText"></li>
            <li id="PSText"></li>
            <li id="TPText"></li>
            <li id="RHText"></li> -->
              <h5 id="WDText"></h5>
              <h5 id="WSText"></h5>
              <h5 id="PSText"></h5>
              <h5 id="TPText"></h5>
              <h5 id="RHText"></h5>
            </ul>
            <button class="btn btn-secondary" id="qbeBtn" onclick="openQBE()">
              <div class="row">
                <img src="/static/lense.svg" class="searchIcon">QBE
              </div>
            </button>
            <button class="btn btn-secondary" id="maskBtn" onclick="openMask()">
              <div class="row">
                <img src="/static/lense.svg" class="searchIcon">Mask
              </div>
            </button>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/js/pagination.js"></script>
  <!-- date -->
  <script>
    // check if a year is leap year
    function isLeap(y) {
      if ((y % 4 == 0 && y % 100 != 100) || (y % 100 == 0 && y % 400 == 0)) {
        return true;
      } else {
        return false;
      }
    }

    // printOption(): print option in selection box
    function printOption() {
      // month
      let monthSelectItems = document.getElementsByClassName('month');
      for (let item = 0; item < monthSelectItems.length; item++) {
        for (let i = 0; i < 12; i++) {
          monthSelectItems[item].innerHTML += `<option value="${i + 1}">${i + 1}</option>`;
        }
      }
      // day
      let daySelectItems = document.getElementsByClassName('day');
      for (let item = 0; item < daySelectItems.length; item++) {
        for (let i = 0; i < 31; i++) {
          daySelectItems[item].innerHTML += `<option value="${i + 1}">${i + 1}</option>`;
        }
      }
      // hour
      let hourSelectItems = document.getElementsByClassName('hour');
      for (let item = 0; item < hourSelectItems.length; item++) {
        for (let i = 0; i < 24; i++) {
          hourSelectItems[item].innerHTML += `<option value="${i}">${i}</option>`;
        }
      }
    }
    printOption();

    // changeDays(): set days for each month
    // option: start/end
    function changeDays(option) {
      console.log();
      // monthData: how many days in each month
      let monthData = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
      let year = 2018;
      if (isLeap(year)) {
        // there are 29 days in Febuary in leap year
        monthData[1] = 29;
      }

      let monthItem = document.getElementById(option + 'Month');
      let dayItem = document.getElementById(option + 'Day');
      let html = "";
      // new options 
      for (let i = 0; i < monthData[monthItem.value - 1]; i++) {
        html += `<option value="${i + 1}">${i + 1}</option>`;
      }
      dayItem.innerHTML = html;
    }

    function detectMonth() {
      document.getElementById('endMonth').value = document.getElementById('startMonth').value;
      changeDays('end');
    }

    // checkDate(): check if the date user select is correct
    // start < end
    function checkDate() {
      let startMonth = document.getElementById('startMonth').value;
      let startDay = document.getElementById('startDay').value;
      let startHour = document.getElementById('startHour').value;
      let endMonth = document.getElementById('endMonth').value;
      let endDay = document.getElementById('endDay').value;
      let endHour = document.getElementById('endHour').value;
      // console.log(startMonth)
      // console.log(startDay)
      // console.log(startHour)
      // console.log(endMonth)
      // console.log(endDay)
      // console.log(endHour)
      // console.log(endMonth < startDay);
      if (endMonth < startMonth) {
        console.log(1);
        return false;
      }
      // same month
      else if (endMonth == startMonth) {
        if (startDay > endDay) {
          console.log(21);
          return false;
        }
        // same day
        else if (startDay == endDay) {
          if (startHour > endHour) {
            console.log(22);
            return false;
          } else {
            console.log(221);
            return true;
          }
        }
        else {
          console.log(23);
          return true;
        }
      }
      // different month
      else {
        console.log(3);
        return true;
      }
    }

    function submitData() {
      console.log(checkDate());
      if (checkDate()) {
        document.getElementById('myForm').submit();
      } else {
        alert("Please select an appropriate time!")
      }
    }

  </script>
  <script>
    // showModal(): show image and the information
    // index: the number of picture
    function showModal(index) {
      // get the modal
      var modal = document.getElementById("myModal");
      // show the modal
      modal.style.display = "flex";

      // get the image and insert it
      console.log(index);
      // var img = document.getElementById(getImageName(index));
      var img = document.getElementById(index);
      console.log(img);
      var modalImg = document.getElementById("img01");
      console.log(modalImg);
      modalImg.src = img.src;

      // get the information about the image and insert it
      // document.getElementById('caption').innerHTML = img.alt;
      document.getElementById('timeText').innerHTML = getDate(index) + " " + getHour(index) + "H";
      document.getElementById('WDText').innerHTML = "Wind direction: " + getWD(index);
      document.getElementById('WSText').innerHTML = "Wind speed: " + getWS(index);
      document.getElementById('PSText').innerHTML = "Pressure: " + getPS(index) + " Pa";
      document.getElementById('TPText').innerHTML = "Temperature: " + getTP(index) + " °C";
      document.getElementById('RHText').innerHTML = "Humidity: " + getRH(index) + " %";
    }

    //closeModal(): close the image modal
    function closeModal() {
      var modal = document.getElementById("myModal");

      // When the user clicks on x, close the modal
      modal.style.display = "none";
    }

  </script>

  <script>
    // get search result from backend
    let date_data = "{{ resultDate }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let hour_data = "{{ resultHour }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let image_data = "{{ resultImage }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let WD_data = "{{ resultWD }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let WS_data = "{{ resultWS }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let PS_data = "{{ resultPS }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let TP_data = "{{ resultTP }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let RH_data = "{{ resultRH }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let dataset = "{{ dataset }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')

    // console.log("{{ dataset }}");
    // console.log("{{ startMonth }}");
    // console.log("{{ startDay }}");
    // console.log("{{ startHour }}");
    // console.log("{{ endMonth }}");
    // console.log("{{ endDay }}");
    // console.log("{{ endHour }}");
    // console.log(date_data);
    // console.log(hour_data);
    // console.log(image_data);
    // console.log(WD_data);
    // console.log(WS_data);
    // console.log(PS_data);
    // console.log(TP_data);
    // console.log(RH_data);
    // console.log(dataset);

    function getDate(index) {
      // return date_data[index].substring(0, date_data[index].length - 10);
      return date_data[index];
    }
    function getHour(index) {
      return hour_data[index];
    }
    function getImageName(index) {
      if ("{{ dataset }}" == "level") {
        return "/static/sis/" + image_data[index];
      } else {
        // return "/static/sis_origin/" + image_data[index];
        if (document.getElementById('contrast').checked) {
          return "/static/sis_origin_contrast/" + image_data[index];
        } else {
          return "/static/sis_origin/" + image_data[index];
        }
      }
    }
    function getWD(index) {
      return WD_data[index];
    }
    function getWS(index) {
      return WS_data[index];
    }
    function getPS(index) {
      return PS_data[index];
    }
    function getTP(index) {
      return TP_data[index];
    }
    function getRH(index) {
      return RH_data[index];
    }
  </script>

  <script>
    let total = date_data.length;
    let count = 0;
    // let pages = Math.ceil(total/24)
    // show the total number of result
    function showCount() {
      let resultCount = document.getElementById("resultCount");
      resultCount.innerHTML = `<br> There are ${date_data.length} results`;
      resultCount.style.display = "";
    }

    // show the images
    function showCards() {
      let placeOfPic = document.getElementById("matchPic");

      // create rows (8 images = 1 row)
      for (let index = 0; index < 6; index++) {
        placeOfPic.innerHTML += `
        <div class="containerPic"></div>`;
      }
      let placeOfCard = document.getElementsByClassName("containerPic");
      for (let index = 0; index < placeOfCard.length; index++) {
        for (let j = 0; j < 8; j++) {
          if (index * 8 + j == total) {
            break;
          }
          // placeOfCard[index].innerHTML += `
          // <div class="card" onclick="showModal(${index * 8 + j})""><div class="info"></div></div>`;
          placeOfCard[index].innerHTML += `
            <div class="card"></div>
          `;
        }
      }
    }

    // loadContrast(): change pictures between origin and origin_contrast
    function loadContrast() {
      let sisList = document.getElementsByClassName('sis');
      for (let i = 0; i < sisList.length; i++) {
        let sisID = sisList[i].id;
        document.getElementById(sisID).src = getImageName(sisID);
      }
    }
  </script>
  <script>
    // set the value in select boxes
    function selectElement(id, value) {
      let element = document.getElementById(id);
      element.value = value;
    }
    // set dates
    function selectDate() {
      selectElement("startMonth", "{{ startMonth }}");
      selectElement("startDay", "{{ startDay }}");
      selectElement("startHour", "{{ startHour }}");
      selectElement("endMonth", "{{ endMonth }}");
      selectElement("endDay", "{{ endDay }}");
      selectElement("endHour", "{{ endHour }}");
    }
    // set dataset
    function selectDataset() {
      document.getElementById("{{ dataset }}").checked = true;
    }

    // set contrastDiv
    function setContrast() {
      console.log("{{ dataset }}");
      if ("{{ dataset }}" == "original") {
        document.getElementById('contrastDiv').style.display = "block";
      }
    }

    function selectQuery() {
      // if there are search result, set the value of form element to query
      if ("{{startMonth}}" != "" || date_data[0] != "") {
        selectDate();
        selectDataset();
        showCount();
        showCards();
        setContrast();
        // showPicture();
      }
    }

    function showPicture(currentPage) {
      let elements = document.getElementsByClassName("card");
      var num = 0;

      // let elementsInfo = document.getElementsByClassName("info");
      // var num = 0;
      console.log("currentPage:", currentPage);
      console.log("count: ", count);
      if (count != 0) {
        for (let index = 0; index < elements.length; index++) {
          elements[index].innerHTML = "";
        }
      }

      for (let index = 0; index < elements.length; index++) {
        Xst = num + (currentPage - 1) * 48
        if (Xst >= date_data.length) {
          break;
        }
        // console.log("Xst:", Xst);
        let imageName = getImageName(index);
        elements[index].innerHTML += `
        <img src="${imageName}" id="${Xst}" class="sis" alt="${getDate(Xst) + " " + getHour(Xst) + "H"}" onclick="showModal(${Xst})">
        <p>${getDate(Xst)} ${getHour(Xst)}H</p>  
        <p>${getWD(Xst)}/${getWS(Xst)}/${getPS(Xst)}/<br>
          ${getTP(Xst)}/${getRH(Xst)}</p>
        `;
        num = num + 1;
      }
      $("li").addClass("page-item");
      $("li").addClass("my-page-link");
      count += 1;
    }

    selectQuery();

    function findMaskParams(date) {
      day = new Date(date);

      yesterday = new Date(date);
      yesterday.setDate(yesterday.getDate() - 1);

      tomorrow = new Date(date);
      tomorrow.setDate(tomorrow.getDate() + 1);

      let year = day.getFullYear();
      let startMonth = yesterday.getMonth() + 1;
      let startDay = yesterday.getDate();
      let startHour = 0;
      let endMonth = tomorrow.getMonth() + 1;
      let endDay = tomorrow.getDate();
      let endHour = 23;

      return "year=" + year + "&startMonth=" + startMonth + "&startDay=" +
        startDay + "&startHour=" + startHour +
        "&endMonth=" + endMonth + "&endDay=" + endDay + "&endHour=" + endHour;
    }

    function findQBEParams(date, hour) {
      let year = parseInt(date.split("-")[0]);
      let month = parseInt(date.split("-")[1]);
      let day = parseInt(date.split("-")[2]);
      let dataset = "";
      if (document.querySelector('input[name="dataset"]:checked').value == "level") {
        dataset = "level";
      } else {
        dataset = "original";
      }

      return "year=" + year + "&month=" + month + "&day=" + day + "&hour=" + hour + "&dataset=" + dataset + "&submit=1";
    }

    function openMask() {
      let stamp = document.getElementById('timeText').innerText;
      let maskUrl = "https://pyyin-mask.im.ncnu.edu.tw/mask.html"
      let params = findMaskParams(stamp.split(' ')[0])
      window.open(maskUrl + "?" + params, "_blank");
    }

    function openQBE() {
      let stamp = document.getElementById('timeText').innerText;
      // let maskUrl = "https://pyyin-2dstring.im.ncnu.edu.tw/qbe/"
      let maskUrl = "http://127.0.0.1:8000/qbe/"
      let params = findQBEParams(stamp.split(' ')[0], parseInt(stamp.split(' ')[1].replace("H", "")))
      window.open(maskUrl + "?" + params, "_blank");
    }

    $('#page').pagination({
      total: date_data.length, // 总数据条数
      current: 1, // 当前页码
      length: 48, // 每页数据量
      size: 3, // 显示按钮个数
      prev: 'Prev ',
      next: 'Next ',
      /**
      * [click description]
      * @param  {[object]} options = {
      *      current: options.current,
      *      length: options.length,
      *      total: options.total
      *  }
      * @param  {[object]} $target [description]
      * @return {[type]}         [description]
      */
      click: function (options, $target) { // 点击按钮事件
        console.log(options);
        if (options.current == 1) {
          showPicture(1);
        } else {
          showPicture(options.current);
        }
        // $target.next(".show").text('Current Page：Page ' + options.current);
      }
    });
    $("li").addClass("page-item");
    $("li").addClass("my-page-link");
    showPicture(1);
  </script>

</body>

</html>