<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/index.css' %}">
  <link rel="stylesheet" href="{% static '/css/navbar.css' %}">

  <title>2DString</title>

</head>

<body class="bg-light">
  <div id="container">
    {% include 'navbar.html' %}
    <!--（FIXME）變整齊-->
    <div class="container-fluid">
      <div class="row m-auto" style="padding-bottom:1.5em;">
        <div class="col-md-1"></div>
        <div class="forPointer col-md-1 centerBox" onclick="changeColor(this.id)" id="A"
          style="background-color: lightgreen;">
          GOOD <br /> (A) <br /> 0 - 7.5
        </div>
        <div class="forPointer col-md-1 centerBox" onclick="changeColor(this.id)" id="B"
          style="background-color: LightSeaGreen;">
          GOOD <br /> (B) <br /> 7.5 - 15.5
        </div>
        <div class="forPointer col-md-1 centerBox" onclick="changeColor(this.id)" id="C"
          style="background-color: lightyellow;">
          Moderate <br /> (C) <br /> 15.5 - 25.5
        </div>
        <div class="forPointer col-md-1 centerBox" onclick="changeColor(this.id)" id="D"
          style="background-color: yellow;">
          Moderate <br /> (D) <br /> 25.5 - 35.5
        </div>
        <div class="forPointer col-md-1 centerBox" onclick="changeColor(this.id)" id="E"
          style="background-color: orange;">
          Unhealthy for Sensitive <br /> (E) <br />35.5 - 45.5
        </div>
        <div class="forPointer col-md-1 centerBox" onclick="changeColor(this.id)" id="F"
          style="background-color: tomato;">
          Unhealthy for Sensitive <br /> (F) <br /> 45.5 - 54.5
        </div>
        <!--(FIXME)tomato-->
        <div class="forPointer col-md-1 centerBox" onclick="changeColor(this.id)" id="G"
          style="background-color: indianred;">
          Unhealthy <br /> (G) <br /> 54.5 - 102.5
        </div>
        <div class="forPointer col-md-1 centerBox " onclick="changeColor(this.id)" id="H"
          style="background-color: red;">
          Unhealthy <br /> (H) <br /> 102.5 - 150.5</div>
        <div class="forPointer col-md-1 centerBox " onclick="changeColor(this.id)" id="I"
          style="background-color: purple;">
          Very Unhealthy <br /> (I) <br /> 150.5 - 250.5
        </div>
        <div class="forPointer col-md-1 centerBox " onclick="changeColor(this.id)" id="J"
          style="background-color: brown;">
          Hazardous <br /> (J) <br /> > 250.5
        </div>
        {% comment %} <div class="forPointer col-md-1" onclick="changeColor(this.id)" id="Clear"
          style="background-color: lightgray;"> button <br>to <br />clear
        </div> {% endcomment %}
      </div>
      <form novalidate id="userDataForm" action="getQuery" method="POST">{% csrf_token %}
        <div class=" row m-auto">
          <!-- </div> -->
          <div class="col-md-2"></div>
          <div class="col-md-8" id="drawTable">
            <div id="bg">
              <table id="bg-tbl" style="display:inline;">

              </table>
            </div>
            <input class="d-none" id="userData" name="data">
          </div>
          <div class="forPointer col-md-1 mr-5" onclick="changeColor(this.id)" id="Clear"
            style="background-color: lightgray;"> button <br>to <br />clear
          </div>
          <div class="col-md-1"></div>
          {% comment %} <div class="col-md-3 bg-secondary."></div> {% endcomment %}
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8" id="filterDiv">
            <table id="weatherEle">
              <tr><td colspan="2"><h4>Filter (optional)</h4></td><td></tr>
              <tr>
                <td><span class="input-group-text">Start Time</span></td>
                <td>
                  <input type="date" class="dateSelect" name="time_query[]">
                  <select class="hourList" name="time_query[]">
                    <option value="" select>--</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td><span class="input-group-text">End Time</span></td>
                <td>
                  <input type="date" class="dateSelect" name="time_query[]">
                  <select class="hourList" name="time_query[]">
                    <option value="" select>--</option>
                  </select>
                  <script>
                    let html = ""
                    for (let i = 0; i < 24; i++)
                      html += `<option value="${i}">${i.toString().padStart(2, 0) + ":00"}</option>`;
                    for (let i = 0; i < 2; i++)
                      document.getElementsByClassName('hourList')[i].innerHTML += html;
                  </script>
                </td>
              </tr>
              <tr>
                <td><span class="input-group-text">Wind Direction</span></td>
                <td class="">
                  <select class="form-select-lg  form-control windSelect" name="weather_query[]">
                    <option value="" select>-</option>
                    <option value="east">East</option>
                    <option value="south">South</option>
                    <option value="west">West</option>
                    <option value="north">North</option>
                  </select>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-2"></div>

        </div>
        <div class="text-center" style="margin: auto">
          <button type="button" onclick="resetData()"
            class="btn btn-outline-secondary m-5 btn btn-outline-secondary btn-lg">RESET</button>
          <button type="button" onclick="processData()" class="btn m-5 btn btn-secondary btn-lg"
            id="enter">ENTER</button>
        </div>
      </form>

    </div>
  </div>
  <!-- <div id="demo"></div> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://pagination.js.org/dist/2.1.5/pagination.js" crossorigin="anonymous"></script> -->
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <script>
    let bgDiv = document.getElementById('bg');
    let bg_tbl = document.getElementById('bg-tbl');
    html = '';
    for (let row = 0; row < 10; row += 1) {
      html += `<tr>`
      for (let col = 0; col < 10; col += 1) {
        html += `
          <td>
            <div class="dest_copy" id="${row * 10 + col + 1}" onclick="changeBGColor(this.id)" ondragover="dragoverFunc(event)">
              <strong>Zone<br>${row * 10 + col + 1}</strong>
            </div>
          </td>`
      }
      html += `</tr>`
    }
    bg_tbl.innerHTML += html;
  </script>
  <script>
    // 初始的顏色
    let nowColor = 'A';
    $('#A').addClass('selected');
    function changeColor(id) {
      document.getElementById(nowColor).classList.remove('selected');
      nowColor = id;
      console.log("id: ", id);
      document.getElementById(nowColor).classList.add('selected');
    }
    function changeBGColor(id) {
      console.log(document.getElementById(`${id}`).classList);
      document.getElementById(`${id}`).classList.remove(document.getElementById(`${id}`).classList[1]);
      console.log(document.getElementById(`${id}`).classList);
      document.getElementById(`${id}`).classList.add(nowColor);
    }
    function dragoverFunc(e) {
      // e.target.classList.add(nowColor);
    }
    function processData() {
      // console.log(123123);
      let oTable = document.getElementById('bg-tbl');
      let rowLength = oTable.rows.length;
      let data = [];
      for (i = 0; i < rowLength; i++) {
        data.push([])
        let oCells = oTable.rows.item(i).cells;
        let cellLength = oCells.length;
        for (let j = 0; j < cellLength; j++) {
          if (oCells.item(j).childNodes[1].classList.length > 1) {
            data[i].push(oCells.item(j).childNodes[1].classList[1]);
          } else {
            data[i].push(-1);
          }
        }
      }
      $('#userData').val(data);
      $('#userDataForm').submit();

    }

    function resetData() {
      let oTable = document.getElementById('bg-tbl');
      let rowLength = oTable.rows.length;
      for (i = 0; i < rowLength; i++) {
        let oCells = oTable.rows.item(i).cells;
        let cellLength = oCells.length;
        for (let j = 0; j < cellLength; j++) {
          if (oCells.item(j).childNodes[1].classList.length > 1) {
            oCells.item(j).childNodes[1].classList.remove(oCells.item(j).childNodes[1].classList[1]);
          }
        }
      }
    }
    $('#demo').pagination({
      dataSource: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35],
      pageSize: 5,
      autoHidePrevious: true,
      autoHideNext: true,
      callback: function (data, pagination) {
        // template method of yourself
        var html = template(data);
        dataContainer.html(html);
      }
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
  <script>
    let weatherEle = document.getElementById('weatherEle');
    let elemant = ["Wind Speed", "Pressure", "Temperature", "Relative Humidity"]
    for (let tr = 0; tr < 4; tr++) {
      // WS_l, WS_u, PS_l, PS_u, TP_l, TP_u, RH_l, RH_u
      weatherEle.innerHTML += `
                  <tr>
                    <td>
                      <span class="input-group-text">${elemant[tr]}</span>
                    </td>
                    <td>
                      <div class="input-group-prepend">
                        <input type="text" class="form-control" aria-label="Default"
                          aria-describedby="inputGroup-sizing-default" value="" name="weather_query[]">
                        <span>~</span>
                        <input type="text" class="form-control" aria-label="Default"
                          aria-describedby="inputGroup-sizing-default" value="" name="weather_query[]">
                      </div>
                    </td>
                    </tr>`;
                    // <td class="chart">
                    // </td>
    }
  </script>

</body>

</html>