<nav class="navbar fixed-top" style="padding-top: 0.2em; padding-bottom: 0.4em;">
  <button class="openbtn" onclick="openNav()">☰</button>
  <a class="navbar-brand m-auto" href="https://pyyin-2dstring.im.ncnu.edu.tw/associationRules/" id="title">
    Association Rules
  </a>
</nav>
<div id="mySidebar" class="sidebar" style="padding: 0;">
  <button href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</button>
  <a href="https://pyyin-2dstring.im.ncnu.edu.tw/home/">Home</a>
  <a href="https://pyyin-gei.im.ncnu.edu.tw/shot">Shot Detection Engine</a>
  <a href="https://pyyin-gei.im.ncnu.edu.tw/">Shot/GEI Clustering Engine</a>
  <a href="https://pyyin-2dstring.im.ncnu.edu.tw/bbtw/">Browse by Time Window</a>
  <a href="https://pyyin-gei.im.ncnu.edu.tw/bbc">Browse by Cluster</a>
  <a href="https://pyyin-gei.im.ncnu.edu.tw/bbg">Browse by GEI</a>
  <a href="https://pyyin-2dstring.im.ncnu.edu.tw/weather/">Query by Sketch</a>
  <a href="https://pyyin-2dstring.im.ncnu.edu.tw/qbe/">Query by Frame</a>
  <a href="https://pyyin-gei.im.ncnu.edu.tw/qbgResult">Query by GEI</a>
  <a href="#" onclick="openSub()" id="subMenuTitle">Feature Detection Engine<span>▼</span> </a>
  <div id="subMenu">
    <a class="" href="https://pyyin-mask.im.ncnu.edu.tw/mask.html" style="padding-left: 3em;">
      <strong>MASK 分析</strong></a>
    <a class="" href="https://pyyin-mask.im.ncnu.edu.tw/GEI.html" style="padding-left: 3em;">
      GEI分析</a>
    <a class="" href="https://pyyin-mask.im.ncnu.edu.tw/contact.html" style="padding-left: 3em;">Puli Map</a>
    <!-- list-group-item list-group-item-action -->
  </div>
  <a href="https://pyyin-2dstring.im.ncnu.edu.tw/associationRules/">Association and Regression</a>
  <!-- <a href="#">Contact</a> -->
</div>
<!-- <div id="upArrow"><a href="#"><img src="/static/up.png" alt="" srcset=""></a></div> -->

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>
<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "35vw";
    // document.getElementById("main").style.marginLeft = "25vw";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    // document.getElementById("main").style.marginLeft = "0";
  }

  $("#subMenuTitle").click(function () {
    // $("#subMenu").toggle("slow");
    $("#subMenu").toggle();
  });
</script>