<nav class="navbar navbar-dark bg-dark" style="padding-left: 2em;">
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
    aria-expanded="false" aria-controls="collapseExample">
    Menu
  </button>
  <a class="navbar-brand m-auto bg-dark" href="#"  style="border: 1px solid #212529;">
    Customize your own 2DString
  </a>
  <span class="navbar-text">
    This is a simple demo! Which makes you more convenient
  </span>
</nav>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul class="list-unstyled components" style="text-align: left;">
      <li>
        <a href="#pageSubmenu" class="list-group-item list-group-item-action" data-toggle="collapse"
          aria-expanded="false" class="dropdown-toggle">
          Puli PM2.5 分析
        </a>
        <div id="subMenu" style="text-align: left; padding: 0em;">
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a class="list-group-item list-group-item-action" href="https://pyyin-mask.im.ncnu.edu.tw/mask.html"
                style="padding-left: 3em;">
                <strong>MASK 分析</strong></a>
            </li>
            <li>
              <a class="list-group-item list-group-item-action" href="https://pyyin-mask.im.ncnu.edu.tw/GEI.html"
                style="padding-left: 3em;">
                GEI分析</a>
            </li>
            <li>
              <a class="list-group-item list-group-item-action" href="https://pyyin-mask.im.ncnu.edu.tw/contact.html"
                style="padding-left: 3em;">Puli Map</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="https://pyyin-gei.im.ncnu.edu.tw/" class="list-group-item list-group-item-action">
          GEI 分群觀察
        </a>
      </li>
      <li>
        <a href="https://pyyin-2dstring.im.ncnu.edu.tw/" class="list-group-item list-group-item-action">
          QBS
        </a>
      </li>
    </ul>
    </nav>
  </div>
</div>