<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/qbe.css' %}">
  <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
  <title>QBE</title>
</head>

<body>
  {% include 'navbar.html' %}
  <h4 id="qbe">QBE(Query-by-Frame)</h4>
  <div class="row" id="contant">
    <!--searchBox-->
    <div class="col-6" id="searchBox">
      <form id="myForm" novalidate action="getQuery" method="POST">{% csrf_token %}
        <!-- <p style="color: rgb(102, 102, 102); font-size: 0.7em; text-align: center;">分成10等級的方法是 HD_A，不分的方法是 rasterScan_D</p> -->
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <label class="col-sm-3 label">Year</label>
          <div class="col-sm-7">
            <!-- <input type="text" class="form-control" id="imageName" value=""
            placeholder="2018-1-1-00-00.png" onchange="preview()"> -->
            <select class="form-control" name="year" id="year" onchange="preview()">
              <option value="2018">2018</option>
            </select>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <label class="col-sm-3 label">Month</label>
          <div class="col-sm-7">
            <!-- <input type="text" class="form-control" id="imageName" value=""
            placeholder="2018-1-1-00-00.png" onchange="preview()"> -->
            <select class="form-control" name="month" id="month" onchange="preview()">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <label class="col-sm-3 label">Day</label>
          <div class="col-sm-7">
            <!-- <input type="text" class="form-control" id="imageName" value=""
            placeholder="2018-1-1-00-00.png" onchange="preview()"> -->
            <select class="form-control" name="day" id="day" onchange="preview()">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <label class="col-sm-3 label">Hour</label>
          <div class="col-sm-7">
            <!-- <input type="text" class="form-control" id="imageName" value=""
            placeholder="2018-1-1-00-00.png" onchange="preview()"> -->
            <select class="form-control" name="hour" id="hour" onchange="preview()">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
            </select>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group row">
          <div class="col-sm-2"></div>
          <label class="col-sm-3 label">Dataset</label>
          <div class="col-sm-7">
            <input type="radio" name="dataset" id="level" value="level" checked onchange="preview()">
            <label for="level"> level </label>
            <span style="margin-left: 1em;margin-right: 1em;"> </span>
            <input type="radio" name="dataset" id="original" value="original" onchange="preview()">
            <label for="original"> original </label>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group row" id="contrastDiv">
          <div class="col-sm-2"></div>
          <div class="col-sm-3 label">
            <input type="checkbox" name="contrast" id="contrast" onchange="loadContrast()">
          </div>
          <div class="col-sm-7">
            <label for="contrast"> Contrast Enhancement </label>
          </div>
        </div>
      </form>
    </div>
    <!--imageBox-->
    <div class="col-6">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8 empty" id="imageBox">
          <img src="" alt="" id="image">
        </div>
        <div class="col-sm-3"></div>
      </div>

    </div>

  </div>
  <div class="row">
    <input type="submit" class="btn btn-primary" id="submitBtn" onclick="submitData()" value="SEARCH">
  </div>
  <script>
    function setParams() {
      const urlSearchParams = new URLSearchParams(window.location.search);
      const params = Object.fromEntries(urlSearchParams.entries());
      if (params.year != null) {
        document.getElementById("year").value = params.year;
      }
      if (params.month != null) {
        document.getElementById("month").value = params.month;
      }
      if (params.day != null) {
        document.getElementById("day").value = params.day;
      }
      if (params.hour != null) {
        document.getElementById("hour").value = params.hour;
      }
    }



    function submitData() {
      document.getElementById('myForm').submit();
    }


    function checkImage(imageSrc) {
      let img = new Image();
      img.onload = () => {
        // console.log("good");
        document.getElementById('imageBox').classList.remove('empty');
        document.getElementById('image').src = imageSrc;
      };
      img.onerror = () => {
        // console.log("bad");
        document.getElementById('imageBox').classList.add('empty');
        document.getElementById('image').src = "/static/emptyImage.svg";
      };
      img.src = imageSrc;
    }

    function convertName() {
      let year = document.getElementById('year').value;
      let month = document.getElementById('month').value;
      let day = document.getElementById('day').value;
      let hour = document.getElementById('hour').value;
      if (hour < 10) {
        hour = '0' + hour
      }

      let name = "";
      name = year + '-' + month + '-' + day + '-' + hour + '-00.png';
      return name;
    }

    function preview() {
      let path = "";
      // let imageName = document.getElementById('imageName').value;
      // convert image name
      let imageName = convertName();
      if (document.getElementById('level').checked == true) {
        path = "/static/sis/" + imageName;
        document.getElementById('contrast').disabled = true;
        document.getElementById('contrastDiv').classList.add('hideDiv')
        checkImage(path);
      } else {
        document.getElementById('contrast').style.checked = false;
        document.getElementById('contrast').disabled = false;
        document.getElementById('contrastDiv').classList.remove('hideDiv')
        loadContrast();
      }
    }

    function loadContrast() {
      let path = "";
      let imageName = convertName();
      if (document.getElementById('contrast').checked == true) {
        path = "/static/sis_origin_contrast/" + imageName;
      } else {
        path = "/static/sis_origin/" + imageName;
      }
      checkImage(path);
    }

    setParams()
    preview()

  </script>


</body>

</html>