<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static '/css/score.css' %}">

  <title>QBE</title>
</head>
<body>
  {% include 'navbar.html' %}
  <!-- <h4 id="qbe">QBE(Query-by-Frame)</h4> -->
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-8 mt-5">
        <div><p id="method" style="color: gray;">Ranking method: </p></div>
        <h4 class="mb-3">{{ sourceDate }}</h4>
        <div class="row">
          <div class="col-md-12">
            <form class="needs-validation" novalidate action="score" method="post">{% csrf_token %}
              <label>Wind Direction : </label> {{ sourceWD }}<br />
              <label>Wind Speed : </label> {{ sourceWS }}<br />
              <label>Pressure : </label> {{ sourcePS }}<br />
              <label>Temperature : </label> {{ sourceTP }}<br />
              <label>Humidity : </label> {{ sourceRH }}<br />
            </form>
            <div class="form-group row" id="contrastDiv" style="margin-top: 1em;">
              <!-- <div class="col-sm-3"></div> -->
              <label class="col-sm-1 label">Contrast</label>
              <div class="col-sm-6">
                <input type="checkbox" name="contrast" id="contrast" onchange="loadContrast()">
                <label for="contrast"> enhance </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="userPic" class="col-md-4">
      </div>
      <div class="row mt-3" id="matchPic"></div>
      <div class="row" id="pageBar">
        <ul class="pagination justify-content-center" id="page" style="margin: auto;">
        </ul>
        <div class="show"></div>
      </div>
    </div>

  </div>
  <script type="text/javascript" src="/static/js/pagination.js"></script>
  <script>
    // get search result from backend
    let date_data = "{{ resultDate }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let hour_data = "{{ resultHour }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let image_data = "{{ resultImage }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let score_data = "{{ resultScore }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let rank_data = "{{ resultRank }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let WD_data = "{{ resultWD }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let WS_data = "{{ resultWS }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let PS_data = "{{ resultPS }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let TP_data = "{{ resultTP }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let RH_data = "{{ resultRH }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
    let dataset = "{{ dataset }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')

    console.log(date_data);
    console.log(hour_data);
    console.log(image_data);
    console.log(score_data);
    console.log(rank_data);
    console.log(WD_data);
    console.log(WS_data);
    console.log(PS_data);
    console.log(TP_data);
    console.log(RH_data);

    function getDate(index) {
      // return date_data[index].substring(0, date_data[index].length - 10);
      return date_data[index];
    }
    function getHour(index) {
      return hour_data[index];
    }
    function getScore(index) {
      return score_data[index];
    }
    function getRank(index) {
      return rank_data[index];
    }
    function getFileName(index) {
      // console.log("dataset", `{{sourceDataset}}`);
      if ("{{ sourceDataset }}" == "level") {
        return "/static/sis/" + image_data[index];
      } else {
        if (document.getElementById('contrast').checked) {
          return "/static/sis_origin_contrast/" + image_data[index];
        } else {
          return "/static/sis_origin/" + image_data[index];
        }
      }
      // return "/static/sis/" + image_data[index];
    }
    function getWD(index) {
      return WD_data[index];
    }
    function getWS(index) {
      return WS_data[index];
    }
    function getPS(index) {
      return PS_data[index];
    }
    function getTP(index) {
      return TP_data[index];
    }
    function getRH(index) {
      return RH_data[index];
    }

    function getUserPic() {
      let sourceImage = `{{ sourceImage }}`;
      if ("{{ sourceDataset }}" == "level") {
        return "/static/sis/" + sourceImage;
      } else {
        if (document.getElementById('contrast').checked) {
          return "/static/sis_origin_contrast/" + sourceImage;
        } else {
          return "/static/sis_origin/" + sourceImage;
        }
      }
    }

    function findParams(date, time) {
      day = new Date(date);
      // console.log("day: ", day);

      yesterday = new Date(date);
      yesterday.setDate(yesterday.getDate() - 1);
      // console.log("yesterday: ", yesterday);

      tomorrow = new Date(date);
      tomorrow.setDate(tomorrow.getDate() + 1);
      // console.log("tomorrow: ", tomorrow);

      hour = parseInt(time.split('-')[0]);
      console.log("hour: ", hour);

      let year = day.getFullYear();
      let startMonth = yesterday.getMonth() + 1;
      let startDay = yesterday.getDate();
      let startHour = 0;
      let endMonth = tomorrow.getMonth() + 1;
      let endDay = tomorrow.getDate();
      let endHour = 23;

      console.log("year=" + year + "&startMonth=" + startMonth + "&startDay=" +
        startDay + "&startHour=" + startHour +
        "&endMonth=" + endMonth + "&endDay=" + endDay + "&endHour=" + endHour);
      return "year=" + year + "&startMonth=" + startMonth + "&startDay=" +
        startDay + "&startHour=" + startHour +
        "&endMonth=" + endMonth + "&endDay=" + endDay + "&endHour=" + endHour;
    }
    
    function findParams(date, time) {
      day = new Date(date);
      // console.log("day: ", day);

      yesterday = new Date(date);
      yesterday.setDate(yesterday.getDate() - 1);
      // console.log("yesterday: ", yesterday);

      tomorrow = new Date(date);
      tomorrow.setDate(tomorrow.getDate() + 1);
      // console.log("tomorrow: ", tomorrow);

      hour = parseInt(time.split('-')[0]);
      console.log("hour: ", hour);

      let year = day.getFullYear();
      let startMonth = yesterday.getMonth() + 1;
      let startDay = yesterday.getDate();
      let startHour = 0;
      let endMonth = tomorrow.getMonth() + 1;
      let endDay = tomorrow.getDate();
      let endHour = 23;

      console.log("year=" + year + "&startMonth=" + startMonth + "&startDay=" +
        startDay + "&startHour=" + startHour +
        "&endMonth=" + endMonth + "&endDay=" + endDay + "&endHour=" + endHour);
      return "year=" + year + "&startMonth=" + startMonth + "&startDay=" +
        startDay + "&startHour=" + startHour +
        "&endMonth=" + endMonth + "&endDay=" + endDay + "&endHour=" + endHour;
    }
    // function getRank(index) {
    //   return ranking_data[index];
    // }
    userPic = document.getElementById("userPic");
    // userPic.innerHTML += `<img src=/static/sis/{{ sourceImage }}>`;
    userPic.innerHTML += `<img src=${getUserPic()} id="sisUserPic">`;

    let method = "";
    console.log(9999999);
    if (dataset == "level") {
      method = "HD_A";
    } else {
      method = "rasterScan_D";
    }
    document.getElementById('method').innerHTML += method;
  </script>
  <script>
    let count = 0;

    let placeOfPic = document.getElementById("matchPic");
    for (let index = 0; index < 3; index++) {
      placeOfPic.innerHTML += `
      <div class="containerPic"></div>
      `;
    }
    let placeOfCard = document.getElementsByClassName("containerPic");
    for (let index = 0; index < placeOfCard.length; index++) {
      for (let j = 0; j < 8; j++) {
        placeOfCard[index].innerHTML += `
          <div class="card"><div class="info"></div></div>
        `;
      }
    }

    function showPicture(currentPage) {
      console.log("currentPage", currentPage);
      let elements = document.getElementsByClassName("card");
      let elementsInfo = document.getElementsByClassName("info");
      var num = 0;
      if (count != 0) {
        for (let index = 0; index < elements.length; index++) {
          elements[index].innerHTML = "";
        }
      }

      for (let index = 0; index < elements.length; index++) {
        Xst = num + (currentPage - 1) * 24
        if (Xst >= 100) {
          break;
        }
        console.log(Xst)
        elements[index].innerHTML = `<img src="${getFileName(Xst)}" id=${Xst} class="sis">
        <p><strong>NO.${getRank(Xst)} / ${getScore(Xst).substring(0, 8)}</strong></p>
        <p>${getDate(Xst)} ${getHour(Xst).substring(0, 2)}H</p>  
        <p>${getWD(Xst)}/${getWS(Xst)}/${getPS(Xst)}/<br>${getTP(Xst)}/${getRH(Xst)}</p>
        `;
        num = num + 1;
      }



      for (let index = 1; index <= elementsInfo.length; index++) {
        var num = 0;
        Xst = num + (currentPage - 1) * 24
        if (Xst >= 100) {
          break;
        }

        console.log("index: ", index);
        // console.log(getDate(index));
        url = "http://pyyin-mask.im.ncnu.edu.tw/mask.html?" + findParams(getDate(index - 1), getHour(index - 1));

        elementsInfo[index - 1].innerHTML += `
        <button class="btn btn-light"><a href="${url}">View More</a></button>
        <p> NO. ${index + (currentPage - 1) * 24}</p>
        `;
      }
      $("li").addClass("page-item");
      $("li").addClass("page-link");
      count += 1;
    }

    function loadContrast() {
      userPic = document.getElementById("sisUserPic");
      userPic.src = getUserPic();

      let sisList = document.getElementsByClassName('sis');
      for (let i = 0; i < sisList.length; i++) {
        // console.log(sisList[i].id);
        let sisID = sisList[i].id
        document.getElementById(sisID).src = getFileName(sisID);
      }
    }




    $('#page').pagination({
      total: 100, // 总数据条数
      current: 1, // 当前页码
      length: 24, // 每页数据量
      size: 3, // 显示按钮个数
      prev: 'Prev ',
      next: 'Next ',
      /**
      * [click description]
      * @param  {[object]} options = {
      *      current: options.current,
      *      length: options.length,
      *      total: options.total
      *  }
      * @param  {[object]} $target [description]
      * @return {[type]}         [description]
      */
      click: function (options, $target) { // 点击按钮事件
        console.log(options);
        if (options.current == 1) {
          showPicture(1);
        } else {
          showPicture(options.current);
        }
        // $target.next(".show").text('Current Page：Page '+options.current);
      }
    });
    showPicture(1);
  </script>
</body>
</html>