<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>2DString</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/score.css' %}">
  <link rel="stylesheet" href="{% static '/css/navbar.css' %}">

</head>

<body class="bg-light">
  <div id="container">
    <!-- add navbar -->
    {% include 'navbar.html' %}

    <div class="container">
      <div class="row mt-3">
        <div class="col-md-8">
          <h4 class="mb-3">Input</h4>
          <div class="row">
            <div class="col-md-12">
              <form class="needs-validation" novalidate action="score" method="post">{% csrf_token %}
                <label for="firstName">2DString X</label>
                {{ stringX }}
                <hr />
                <label for="firstName">2DString Y</label>
                {{ stringY }}
              </form>
            </div>
          </div>
          <span id="weather">
            <h4>Weather Query</h4>
            <script>
              let weather_query = "{{ weather_query }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
              console.log(weather_query)
              let tmp = String(weather_query).split('/')
              console.log(tmp)
              let html = `
                         WD (${tmp[0]})/ 
                         WS (${tmp[1]}~${tmp[2]})/ 
                         Pressure (${tmp[3]}~${tmp[4]})/ 
                         Temperature (${tmp[5]}~${tmp[6]})/ 
                         Humid (${tmp[7]}~${tmp[8]})
                         `
              document.getElementById('weather').innerHTML += html
            </script>
          </span>
        </div>
        <div id="userPic" class="col-md-4">
        </div>
      </div>

    </div>

    <!-- First try loading jQuery from Google's CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Fall back to a local copy of jQuery if the CDN fails -->
    <script>
      window.jQuery || document.write('<script src="http://mysite.com/jquery.min.js"><\/script>')
    </script>

    <script type="text/javascript" src="/static/js/pagination.js"></script>
    <script>
      let date_data = "{{ resultDate }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
      let time_data = "{{ resultTime }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
      let content_data = "{{ resultContent }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
      let WD_data = "{{ resultWD }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
      let WS_data = "{{ resultWS }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
      let PS_data = "{{ resultPS }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
      let TP_data = "{{ resultTP }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
      let RH_data = "{{ resultRH }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')
      let ranking_data = "{{ ranking }}".replaceAll('&#x27;', '').replaceAll('[', '').replaceAll(']', '').replaceAll(' ', '').split(',')

      console.log(date_data);
      console.log(time_data);
      console.log(content_data);
      console.log(WD_data);
      console.log(WS_data);
      console.log(PS_data);
      console.log(TP_data);
      console.log(RH_data);
      console.log(ranking_data);
      // var num = 0
      function getFileName(index) {
        return "/static/sis/" + date_data[index];
      }
      function getDate(index) {
        return date_data[index].substring(0, date_data[index].length - 10);
      }
      function getTime(index) {
        return time_data[index];
      }
      function getContent(index) {
        return content_data[index];
      }
      function getWD(index) {
        return WD_data[index];
      }
      function getWS(index) {
        return WS_data[index];
      }
      function getPS(index) {
        return PS_data[index];
      }
      function getTP(index) {
        return TP_data[index];
      }
      function getRH(index) {
        return RH_data[index];
      }
      function getRank(index) {
        return ranking_data[index];
      }
      console.log(getFileName(0));
      function getFileAllPath(fileName) {
        return "/static/sis/" + fileName + "_mix.png";
      }
      userPic = document.getElementById("userPic");
      console.log("{{ PicName }}");
      console.log(getFileAllPath("{{ PicName }}"));
      userPic.innerHTML += `<img src="${getFileAllPath("{{ PicName }}")}">`;
    </script>

    <script>
      function findParams(date, time) {
        day = new Date(date);
        // console.log("day: ", day);

        yesterday = new Date(date);
        yesterday.setDate(yesterday.getDate() - 1);
        // console.log("yesterday: ", yesterday);

        tomorrow = new Date(date);
        tomorrow.setDate(tomorrow.getDate() + 1);
        // console.log("tomorrow: ", tomorrow);

        hour = parseInt(time.split('-')[0]);
        console.log("hour: ", hour);

        let year = day.getFullYear();
        let startMonth = yesterday.getMonth() + 1;
        let startDay = yesterday.getDate();
        let startHour = 0;
        let endMonth = tomorrow.getMonth() + 1;
        let endDay = tomorrow.getDate();
        let endHour = 23;

        console.log("year=" + year + "&startMonth=" + startMonth + "&startDay=" +
          startDay + "&startHour=" + startHour +
          "&endMonth=" + endMonth + "&endDay=" + endDay + "&endHour=" + endHour);
        return "year=" + year + "&startMonth=" + startMonth + "&startDay=" +
          startDay + "&startHour=" + startHour +
          "&endMonth=" + endMonth + "&endDay=" + endDay + "&endHour=" + endHour;
      }
    </script>

    <div class="row mt-3" id="matchPic"></div>
    <div class="row" id="pageBar">
      <ul class="pagination justify-content-center" id="page" style="margin: auto;">
      </ul>
      <div class="show"></div>
    </div>


  </div>

  <!-- <div class="pagination" id="pagination" ></div> -->
  <!-- <div class="text-center">
    <button class="btn btn-outline-secondary m-5 btn btn-outline-secondary btn-lg" onclick="history.back(-1)">回上一頁</button>
  </div> -->

  <script>
    let count = 0;

    let placeOfPic = document.getElementById("matchPic");
    for (let index = 0; index < 3; index++) {
      placeOfPic.innerHTML += `
      <div class="containerPic"></div>
      `;
    }
    let placeOfCard = document.getElementsByClassName("containerPic");
    for (let index = 0; index < placeOfCard.length; index++) {
      for (let j = 0; j < 8; j++) {
        placeOfCard[index].innerHTML += `
          <div class="card"><div class="info"></div></div>
        `;
      }
    }

    function showPicture(currentPage) {
      let elements = document.getElementsByClassName("card");
      let elementsInfo = document.getElementsByClassName("info");
      var num = 0;
      if (count != 0) {
        for (let index = 0; index < elements.length; index++) {
          elements[index].innerHTML = "";
        }
      }

      for (let index = 0; index < elements.length; index++) {
        Xst = num + (currentPage - 1) * 24
        if (Xst >= 100) {
          break;
        }
        console.log(Xst)
        console.log(getFileName(Xst))
        elements[index].innerHTML += `
        <img src="${getFileName(Xst)}">
        <p><strong>NO.${getRank(Xst)} / ${getContent(Xst).substring(0, 8)}</strong></p>
        <p>${getDate(Xst)} ${getTime(Xst).substring(0, 2)}H</p>  
        <p>${getWD(Xst)}/${getWS(Xst)}/${getPS(Xst)}/${getTP(Xst)}/${getRH(Xst)}</p>
        `;
        num = num + 1;
      }



      for (let index = 1; index <= elementsInfo.length; index++) {
        var num = 0;
        Xst = num + (currentPage - 1) * 24
        if (Xst >= 100) {
          break;
        }

        console.log("index: ", index);
        // console.log(getDate(index));
        url = "http://pyyin-mask.im.ncnu.edu.tw/mask.html?" + findParams(getDate(index - 1), getTime(index - 1));

        elementsInfo[index - 1].innerHTML += `<button class="btn btn-light"><a href="${url}">View More</a></button>`;
        // <p> NO. ${index + (currentPage - 1) * 24}</p>
      }
      $("li").addClass("page-item");
      $("li").addClass("my-page-link");
      count += 1;
    }



    $('#page').pagination({
      total: 100, // 总数据条数
      current: 1, // 当前页码
      length: 24, // 每页数据量
      size: 3, // 显示按钮个数
      prev: 'Prev ',
      next: 'Next ',
      /**
      * [click description]
      * @param  {[object]} options = {
      *      current: options.current,
      *      length: options.length,
      *      total: options.total
      *  }
      * @param  {[object]} $target [description]
      * @return {[type]}         [description]
      */
      click: function (options, $target) { // 点击按钮事件
        console.log(options);
        if (options.current == 1) {
          showPicture(1);
        } else {
          showPicture(options.current);
        }
        $target.next(".show").text('Current Page：Page ' + options.current);
      }
    });
    showPicture(1);
  </script>
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
</body>

</html>