html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding-top: 1.5em;
}

#drawTable {
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center
}

#bg {
  background-image: url("/static/map.png");
  background-repeat: no-repeat;
  /* 背景圖片位置固定 */
  background-position: center;
  width: 103ch;
  height: 82ch;
  margin: 0%;
  padding: 0%;
}


#Clear, #A, #B, #C, #D, #E, #F, #G, #H, #I, #J {
  color: black;
  /* border: 3px dashed black; */
  text-align: center;
  height: 100px;
}

.forPointer:hover {
  cursor: pointer;
  user-select: none;
}

.dest_copy {
  /* border: 3px dashed blue; */
  margin: 0em;
  padding: 1em;
  text-align: center;
  border: 2px dashed rgb(71, 120, 183);
  width: 10ch;
  height: 8ch;
  text-align: center;
  color: rgb(1, 54, 122);
}

.dest_copy:hover {
  cursor: pointer;
  /* border: 4px dashed rgba(128, 128, 128, 0.5); */
  border: 3px dashed #2c00ff;
  color: #2c00ff;
}

.selected {
  border: 4px dashed rgba(0, 0, 0, 0.5);
  padding: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dest_move {
  border: 3px solid blue;
  width: 200px;
  height: 50;
  text-align: center;
}

.A, .B, .C, .D, .E, .F, .G, .H, .I, .J {
  border: 2px dashed rgba(28, 0, 162, 0.5);
  color: #2c00ff;
}

.A:hover, .B:hover, .C:hover, .D:hover, .E:hover, .F:hover, .G:hover, .H:hover, .I:hover, .J:hover{
  opacity: 0.4;
}

.A {
  background-color: lightgreen;

}

.B {
  background-color: LightSeaGreen;
}

.C {
  background-color: lightyellow;
}

.D {
  background-color: yellow;
}

.E {
  background-color: orange;
}

.F {
  background-color: tomato;
}

.G {
  background-color: IndianRed;
}

.H {
  background-color: red;
}

.I {
  background-color: purple;
}

.J {
  background-color: brown;
}

.Clear {
  background-color: rgba(255, 255, 255, 0);
}

#bg-tbl {
  user-select: none;
}

.centerBox {
  padding: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}


#filterDiv {
  display:flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
  /* background-color: rgb(162, 202, 215); */
  /* border-radius: 10px; */
  border: #ced4da dashed 3px;
  padding: 1em 3em;
  margin: 2em 0em;
}

h4 {
  text-align: center;
  color: rgb(160, 160, 160);
  font-weight: bold;
}

td {
  width: auto;
}

.dateSelect {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  /* width: 70%; */
  padding: .375rem .75rem;
}

.hourList {
  /* width: 30%; */
  border: 1px solid #ced4da;
  border-radius: .25rem;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
}

.form-control {
  width: 4em;
}

.windSelect {
  width: 100%;
}

#enter {
  background-color: rgb(251, 139, 12);
  border-color: rgb(251, 139, 12);;
}
