body {
  /* font-family: "Lato", sans-serif; */
  scroll-behavior: smooth;
}

#container {
  /* margin-top: 15vh; */
  margin-top: 60px;
}

.fixed-top {
  z-index: 1;
}

.row {
  border:0px;
  margin-right:0;
  margin-left:0;
  max-width:100%; 
}

nav {
  background-color: rgb(251, 139, 12);
  color: #f1f1f1;
  box-shadow: 0 0.1em 1em 0.2em rgba(156, 133, 108, 0.5);
  /* width: 100%;
  padding-top: 0.2em; 
  padding-bottom: 0.4em; */
}

#title {
  color: #ffffff;
  font-weight: bolder;
  font-size: 1.5em;
}


.openbtn {
  font-size: 1.5em;
  cursor: pointer;
  background-color: rgb(251, 139, 12);
  color: white;
  padding: 0.05em 0.3em;
  border: white solid 0.05em;
  border-radius: 5px;
  z-index: 2;
}

.openbtn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(251, 139, 12);
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(251, 139, 12);
  box-shadow: 0 0.1em 1em 0.2em rgba(156, 133, 108, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2vh;
  padding-right: 0;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar a {
  /* padding: 1em 1em 1em 4em; */
  text-align: left;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5em;
  text-decoration: none;
  font-size: 1.3em;
  color: #ffffff;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  font-size: 1.5em;
  /* text-shadow: 3px 2px 2px rgba(170, 93, 5, 0.885); */
  /* -webkit-filter: drop-shadow(2px 2px 1px rgba(188, 105, 9, 0.885)); */
  /* filter: drop-shadow(2px 2px rgba(188, 105, 9, 0.885)); */
  transition: 0.2s;
  font-weight:bold;
}

.closebtn {
  font-size: 3em;
  margin-left: 0.5em;
  padding-right: 3vw;
  color: #ffffff;
  display: block;
  transition: 0.2s;
  background: transparent;
  border: 0px;
  z-index: 3;
}


.closebtn:hover {
  font-size: 3.2em;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(188, 105, 9, 0.885));
  filter: drop-shadow(2px 2px rgba(188, 105, 9, 0.885));
  transition: 0.2s;
}

.sidebar .closebtn {
  position: absolute;
  top: 2vh;
  right: 0em;
  outline: none;
}

#subMenu {
  display: none;
  /* transition: 0.2s; */
}

#upArrow {
  width: 4em;
  height: 4em;
  margin: auto;
  position:fixed;
  right: 2em;
  bottom: 2em;
  border: rgb(251, 139, 12) solid 0.2em;
  background-color: rgb(251, 139, 12);
  border-color: #ffffff;
  border-radius: 5px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  z-index: 2;
}

#upArrow:hover {
  margin: auto;
  transform: scale(1.3);
  transition: 0.1s;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(207, 116, 13, 0.885));
  filter: drop-shadow(2px 2px rgba(207, 116, 13, 0.885));
  background-color: rgba(255, 255, 255, 0);
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
} */