html {
  scroll-behavior: smooth;
}

#container {
  margin: 7vh 5vw;
}

.containerPic {
  text-align: center;
  width: 95%;
  margin: 0px auto;
}
.containerPage{
  margin: 100px auto;
}
.card {
  /* 定位點 */
  position: relative;
  width: 12.5%;
  float: left;
  /* margin: 0.5ch; */
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.info {
  /*   display: none; */
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40px;
}

.info p {
  color: #fff;
  margin-bottom: 0ch;
}

.info:hover {
  -webkit-transition: 500ms;
  opacity: 1;
  /* background-color: blueviolet; */
}

button a {
  cursor: pointer;
} 

#pageBar {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 3em;
  width: 100%;
}

.page-item {
  /* color: black; */
  color: gray;
  border-radius: 2px;
  /* cursor: pointer; */
}


#method {
  color: gray;
}

#contrastDiv {
  margin-top: 1em;
}
